<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartmux.expensetracker" >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.smartmux.expensetracker.ExpenseTrackerApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.smartmux.expensetracker.SplashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smartmux.expensetracker.Home"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vinsol.expensetracker.entry.Text"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />
        <activity
            android:name="com.vinsol.expensetracker.entry.Voice"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />
        <activity
            android:name="com.vinsol.expensetracker.entry.CameraEntry"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />
        <activity
            android:name="com.vinsol.expensetracker.expenselisting.ExpenseListing"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vinsol.expensetracker.expenselisting.ExpenseSubListing"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vinsol.expensetracker.entry.FavoriteEntry"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.vinsol.expensetracker.show.ShowVoice"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vinsol.expensetracker.show.ShowCamera"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vinsol.expensetracker.show.ShowText"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vinsol.expensetracker.utils.ImagePreview"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.vinsol.expensetracker.cameraservice.Camera"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.smartmux.expensetracker.Preferences"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/PreferencesTheme" />
        <activity
            android:name="com.vinsol.expensetracker.expenselisting.ThisWeek"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vinsol.expensetracker.expenselisting.ThisMonth"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vinsol.expensetracker.expenselisting.ThisYear"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vinsol.expensetracker.expenselisting.All"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smartmux.expensetracker.GenerateReport"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name="com.vinsol.expensetracker.sync.LoginType"-->
            <!--android:configChanges="keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.vinsol.expensetracker.sync.UserAuthentication"-->
            <!--android:configChanges="keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait" />-->
    </application>
</manifest>
